<ion-header [translucent]="true" mode="ios">
  <ion-toolbar color="tertiary">
    <ion-title>
      Music Store
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" mode="ios">
  <div class="ion-text-center">
    <ion-label>Toca los instrumentos y crea Musica</ion-label>
  </div>

  <ion-grid fixed>
    <ion-row>
      <ion-col size="6" *ngFor="let item of instrumentos">
        <ion-card (click)="soundPlay(item)">
          <img [src]="item.imagen" [alt]="imagen">
          <ion-label>{{item.name}} </ion-label>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
